Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config
Standard_trees
Content/Assets
Content/FoliageTypes
Content/Maps
Content/PNG
Content/StarterContent
Content/Stylized_PBR_Nature